<html>
    <head>
       <title>Custom Yeelights</title> 
    </head>
    <body>
        <form>
            <input name="Button3" id="Button3" type="text" />
        </form>

        <h1>{{customtext}}</h1>
        <p><a href="{{ url_for('introduction') }}">Go Back Home</a></p>
        <p><left><a href="/customs?Button3=RedAlert"><img src="{{demored}}">Red Alert</a></left></p>
        <p><top><a href="/customs?Button3=USA"><img src="{{demoUSA}}">USA</a></top></p>
        <p><right><a href="/customs?Button3=Safety"><img src="{{demogreen}}">Safety</a></right></p>
        <p><bottom><a href="/customs?Button3=ColorWheel"><img src="{{demowheel}}">ColorWheel</a></bottom></p>
    </body>
</html>