<html>
    <head>
        <title>Yeelight Manipulation</title>
    </head>
    <body>
        <h1>{{titletext}}</h1>
        <form>
            <input name="Button1" id="Button1" type="text" />
        </form>
        <center><p>Here's the home page for my Yeelight Operations, go check out the custom light patterns for custom lightbulb patterns!</p></center>
        <center><img src="{{demoimage}}"></center>
        <p> <a href="{{ url_for('custom_route') }}"> Path to Customs</a></p>
        <p> <a href="{{ url_for('sport_route') }}"> Path to Sports Customs</a></p>
    </body>
</html>