<html>
    <head>
       <title>Sports Yeelight</title> 
    </head>
    <body>
        <h1>{{sportstext}}</h1>

        <form>
            <input name="Button2" id="Button2" type="text" />
        </form>

        <p><a href="{{ url_for('introduction') }}">Go Back Home</a></p>
        <p><left><img src="{{demobroncos}}">Broncos</left></p>
        <p><top><img src="{{demorockies}}">Rockies</top></p>
        <p><right><img src="{{demonuggets}}">Nuggets</right></p>
        <p><bottom><img src="{{demoavs}}">Avs</bottom></p>
        <p><bottomright><img src="{{demolakers}}">Lakers</bottomright></p>
    </body>
</html>