<html>
    <head>
       <title>Sports Yeelight</title> 
    </head>
    <body>
        <h1>{{sportstext}}</h1>

        <form>
            <input name="Button2" id="Button2" type="text" />
        </form>

        <p><a href="{{ url_for('introduction') }}">Go Back Home</a></p>
        <p><left><a href="/sports?Button2=Broncos"><img src="{{demobroncos}}">Broncos</a></left></p>
        <p><top><a href="/sports?Button2=Rockies"><img src="{{demorockies}}">Rockies</a></top></p>
        <p><right><a href="/sports?Button2=Nuggets"><img src="{{demonuggets}}">Nuggets</a></right></p>
        <p><bottom><a href="/sports?Button2=Avs"><img src="{{demoavs}}">Avs</a></bottom></p>
        <p><bottomright><a href="/sports?Button2=Lakers"><img src="{{demolakers}}">Lakers</a></bottomright></p>
    </body>
</html>